*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color:inherit

}

body{
    background-color: #3B3B3B;
    overflow-x: hidden;
}

main{
    width: 100vw;
}

/* Mobile */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
}

.my-name{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #80E084;
    margin-top: 1rem;
}

.img-wagner{
    width: 169px;
    height: 169px;
}

.my-carrer{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #CFCFCF;
}

.social-link > img{
    width: 50px;
    margin: 10px;
}

.container-skills{
    display: flex;
    flex-direction: column;
    margin-top: 25rem;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 1rem;
}

.subtittle{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #80E084;
}

.about-me > p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 0.5px;
    color: #CFCFCF;
    margin: 2rem 2rem 0 0;
}

.skills > h2{
    display: flex;
    margin-top: 4rem;
}

.skills-carrer{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.skills-carrer > ul{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #CFCFCF;
    margin: 1rem;
}

.skills-carrer > ul > p{
    font-weight: 700;
    font-size: 19px;
}

.container-project{
    margin: 1rem;
}

.project > figure > img{
    margin-top: 30px;
}

.project > h5{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 10px;
    color: #80E084;
}

.project > div{
    display: flex;
    gap: 20px;
    margin-top: 16px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #8695A4;
}

.project > div > p{
    padding-top: 7px;
}

.project > div > button{
    width: 77px;
    height: 31px;
    background: #80E084;
    border-radius: 20px;
    border: none;

    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 17px;
    color: #3B3B3B;
}

.project > p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    line-height: 19px;
    color: #CFCFCF;
}



.container-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 5rem 0 0 1rem;
}

span{
    color: #80E084;
}

.contact > p{
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 0.5px;
    color: #CFCFCF;
    margin: 2rem 2rem 0 0;
}


.small-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 2rem 1rem 2rem;
    gap: 2rem;
}

footer > p{
    text-align: center;
    font-size: 16px;
    color: #CFCFCF;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
    .hidden-xs{
     display:none;
    }
}
  


@media screen and (min-width: 577px){

    .hidden-xs{
        display:flex;
        justify-content: flex-end;
        gap: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: -0.5px;
        color: #80E084;
        margin: 1.5rem 2.5rem 0 0;
    }

    .hidden-xs > ul >li{
        list-style-type: none;
    }

    .social-link{
        display: flex;
        gap: 1rem;
    }

    .social-link > img{
        width: 3rem;
        height: 3rem;
    }

}

  
@media screen and (min-width: 1144px){


.img-wagner{
    width: 200px;
    height: 200px;
}

.my-name{
    font-size: 40px;
}

.my-carrer{
    font-size: 25px;
}

.social-link > img{
    width: 4rem;
    height: 4rem;
}

.subtittle{
    font-size: 40px;
}
}