*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;

}

body{
    background-color: #3B3B3B;
}
.nav-links{
    display: flex;
    margin: 40px 40px 0 0;
    justify-content: flex-end;
    gap: 40px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 269px;
}

