* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100%;
    height: 100vh;
    background: url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: 71px;
    padding: 35px 50px;
    align-items: center;
    justify-content: space-between;
}

.text-section {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: block;
    align-items: flex-start;
    justify-content: space-between;
}

.hello {
    color: white;
    font-size: 64px;
    font-style: normal;
    text-transform: uppercase;
    padding: 80px 0 0 55px;
    width: 90%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 70px;
    width: 100%;
}

.about-me {
    color: white;
    font-size: 20px;
    font-style: normal;
    padding: 30px 0 0 55px;
    width: 70%;
}

a {
    color: white;
    font-size: 26px;
    margin-top: 30px;
}

.logo {
    font-size: 30px;
}

.box-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 60px;
    gap: 70px;
}

.box {
    width: 350px;
    height: 200px;
    backdrop-filter: blur(2px);
    border-radius: 15px;
}

.img-project {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}

.box-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 50px;
}

.btn-more {
    display: flex;
    width: 100%;
    max-width: 200px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.btn-project {
    width: 150px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
}

.btn-project img {
    width: 30px;
    display: none;
}

.btn-project:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
}

.btn-project:hover img {
    display: block;
}

.social-media{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.img-social {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.container-social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 60px;
    margin-top: 5%;
}

.connect-me {
    color: #FFFFFF;
    font-size: 60px;
    font-style: italic;
    letter-spacing: -2.5px;
    text-align: center;
}

