* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(../assets/minimalist-night-city.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
        display: flex;
        width: 100%;
        height: 71px;
        padding: 32px 48px;
        align-items: center;
        justify-content: space-between;
}

a {
    color: #FFFFFF;
    font-size: 26px;
    margin-top: 30px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
}


h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-style: italic;
    letter-spacing: -2.5px;
}

.social-media{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: #FFFFFF;
}
